@import "resets.css";

/*SITE WIDE STYLING*/

html {
	height: 100%;
	font-family: sans-serif;


}


body {
	height: 100%;
	color: #431311;
	background: linear-gradient(180deg, #acaf7f 55%, #c77c7a);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	height: 100px;
	margin-bottom: 20px;
}



inner-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
/*	width: 90vw;*/
}



adoption-card {
	display: flex;
	flex-direction: column;
	background-color: #f0ece8;
	max-width: 300px;
	padding: 10px;
	border-radius: 10px;
	width: 250px;
}

	.portait, .status {
		margin: 20px 0 10px 0;
	}


.portrait {
	height: 200px;
	width: auto;
	opacity: 80%;
	overflow: hidden;
	border-radius: 10px;
}



.portrait img {
	height: 120%;
	width: auto;
}


.details {
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}



.status {
/*	display: block;*/
	border-radius: 10px;
	padding: 5px;
	width: 100%;
	text-align: center;
	color: #f0ece8;
	text-transform: uppercase;
}




/*	TEXT STYLING*/


h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 5vw;
}

h2 {
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: clamp(30px, 4vw, 80px);
	background: rgba(240, 236, 232, .5);
	border-radius: 0px 0px 10px 10px;
	border: solid 5px white;
	padding: 20px;
	text-align: center;
}

h3 {
	font-family: 'Shrikhand', cursive;
	font-size: clamp(1rem, 0.9338rem + 0.3529vw, 1.375rem);
}

p {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 16px;
}

span {
	font-family: 'Shrikhand', cursive;
	font-size: font-size: clamp(0.75rem, 0.6618rem + 0.4706vw, 1.25rem);
}

@media (hover:hover) {

/*.portrait img {
	mix-blend-mode: multiply;
	filter: brightness(110%);

}*/

.test {
	position: absolute;
	mix-blend-mode: multiply;
	filter: brightness(110%);
	top:0;
	height: 100%;
	width: 100%;
}

.portrait {
	position: relative;
	;
}

.test:hover {
	opacity:0;
	transition: all 0.6s ease

}

}


@media (min-width:400px) {

	adoption-card {
		display: flex;
		flex-direction: row;
		width: auto;
		gap: 10px;
		padding: 2vw;
	}

	.quick-info {
		max-width: 50%;
	}

	.portrait {
		height: 20vw;
		width: 20vw;
	}

	.portrait img {
		height: 100%;
		width: auto;
	}

	h2 {
		font-size:;
		border-radius: 10px;
	}


.name {
	font-size: clamp(20px, 3vw, 30px);
}

.details {
	max-width:200px;
}




@media (min-width:600px) {

	body {
		padding-top: 5vw;
	}

	header {
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
	}

	h2 {
		display: block;
		text-align: center;
		z-index: 2;
		margin-left: auto;
		margin-right: auto;
	}

	inner-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: auto;
		margin-left: auto;
	}


	.portrait {
		height: 300px;
		width: 100%;
	}

	.quick-info {
				display: flex;
		flex-direction: column;
    justify-content: space-between;
	}

	adoption-card {
		max-width: 700px;
		height: 100%;
	}

	@media (hover:hover) {

		header h2:hover {
			transform: translate(50px, 50px) scale(1.2) rotate(-370deg);
		}


		h2 {
			display: block;
			text-align: center;
			transition: 0.5s ease-in-out;
			z-index: 2;
		}
	}
}




}