.clients {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:var(--medspace);
	padding: 100px 80px;
	margin: 0 auto;
	width: 80vw;
}

.clients > div:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:var(--smspace);
}

.review-loop {
	display: flex;
	flex-direction: row;
	gap: var(--smspace);
}

.single-review {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--smspace);
	padding: var(--medspace);
}

.review-loop .test {
	padding: 20px;
}

picture.star {
	width: 20px;
	height: auto;
}

div.stars {
	display: flex;
	flex-direction: row;
}

.avatar {
	width: 40px;
	height: auto;
}

svg.star {
	fill: var(--highlight);
	stroke: none; 
	stroke-width: 0;
	stroke-linecap: round;
	stroke-linejoin: round;
}
