@import "resets.css";

/*SITE WIDE STYLING*/

body {
	background: lightgrey;
	color: black;
}

main {
	display: flex;
	flex-direction: column;
	gap: 40px;
	height: 100vh;
/*body background*/
/*	background-color: whitesmoke;*/
	opacity: 0.8;
	background-image:  linear-gradient(whitesmoke 1px, transparent 1px), linear-gradient(to right, whitesmoke 1px, gainsboro 1px);
	background-size: 10px 10px;
	}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

main section {
	background: whitesmoke;
	padding: 5rem 10%;
}

.inner-column{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/*NAVIGATION*/

header {
	background-color: whitesmoke;
	opacity: 0.8;
	background-image:  radial-gradient(black 0.5px, transparent 0.5px), radial-gradient(black 0.5px, whitesmoke 0.5px);
	background-size: 20px 20px;
	background-position: 0 0,10px 10px;
}

nav {
	display: flex;
	flex-direction: row;
	gap: .25rem;
	padding: .25rem;
}

@media (min-width:550px) {

nav {

	gap: 1rem;
	padding: 1rem;
}


}


.nav-link {
	display: block;
	padding: 10px;
	text-decoration: none;
}

header a {
	text-decoration: none;
}

.nav-link:hover {
	background: white;
	border-bottom: solid 2px black;
}


/*	SITE WIDE FONTS*/

h1 {
	font-family: helvetica;
	font-size: 2rem;
}

h2 {
	font-family: helvetica;
	font-size: 1.5rem;
}

p, li, a {

	font-family: garamond;
	font-size: 1rem;
}




/*FORM*/


form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 30rem;
}

.form-control {
/*	font-family: system-ui, sans-serif;
	font-size: 2rem;
	font-weight:bold;
	line-height: 1.1;*/
}

input[type="radio"] {
/*border: solid red 4px;
appearance: none;
background: #fff;
margin: 0;
font: inherit;
color: currentColor;
width:1em;
height: 1em;
border-radius: 50%;*/
/*transform: translateX(-2em);*/

}

pre.code {
	display: block;
	background-color: black;
	padding: 10px;
	color: lime;
}







