
/* HEADER */
header{
	background-color: #acdabe;
}
masthead {
	display: block;
	border: 3px solid black;
	padding: 10px;

}
masthead nav {
	border: 3px solid black;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

masthead a {
	border: 3px solid black;
	padding: 10px;
}

@media (min-width: 600px) {
	masthead {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
