@import "resets.css";



html {
	background: lightblue;
}

/*body * {
	border: 1px dodgerblue solid;
}*/

/*Structure*/


inner-column {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin-right:auto;
	margin-left: auto;
	padding: 10px;
}


/*MODULE*/

masthead {
	display:flex; 
	flex-direction: row;
	align-items: center;
}


masthead .company-logo {
	min-width: 60px;
	max-width: 60px;
	margin-right: 20px;
}

masthead .company-name {
	font-family: sans-serif;
	font-weight: 900;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/*THEME*/

.site-header {
	background-color: rgba(255,255,255,.5);
}

section.plans {
	background-color: rgba(255,255,255,.5);
}

.site-footer {
	background-color: rgba(0,0,0,.5);
	color: white;
}


/*SPLASH*/


.splash h1 {
	font-size: 40px;
	font-family: sans-serif;
	padding: 20px 0;
}


.splash inner-column {
	padding-top: 50px;
	padding-bottom: 60px;

}




/*svgs*/


svg {
	fill-rule:evenodd;
	clip-rule:evenodd;
	stroke-linejoin:round;
	stroke-miterlimit:2;"
}

/*cog*/

/*.the-cog {
	max-width: 100px;
}
*/

.cog {
	fill: black;	
}

.method-one {
	max-width: 0px;
}

/*LOGO*/
.logo-fill {
	fill: none;
}

.l-pupil, .r-pupil {
	fill:black;
	stroke:black;
	stroke-width:1.33px;
}

.r-iris, .l-iris {
	fill:white;
	stroke:black;
	stroke-width:1.37px;
}

.l-pupil:hover, .r-pupil:hover {
	fill: #d5dffd;
}






















/*accessibility*/
/*class to apply to hidden content for screen readers*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

































@media (min-width: 600px) {


	.splash inner-column {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 60px;
	}

	.splash picture, .splash .info {
			width: 50%;
	}

	.splash picture {
		margin-right: 20px;
		flex-basis: 50%;
	}

	.splash .info {
		flex-basis: 50%;
	}
}


@media (min-width: 900px) {

	inner-column {
		padding: 50px;
	}

	.splash inner-column {
		align-items: flex-start;
	}

	.splash picture {
		flex-basis: 50%;
	}

	.splash .info {
		flex-basis: 50%;
	}

	.splash h1 {
	font-size: 60px;
}
}

