@import "resets.css";


/*svgs*/
	.artboard2 {
		fill: none;
	}

	.l-pupil, .r-pupil {
		fill:black;
		stroke:black;
		stroke-width:1.33px;
	}

	.r-iris, .l-iris {
		fill:white;
		stroke:black;
		stroke-width:1.37px;
	}

	.logo-maybe .brain-dead:hover {
		fill: #d5dffd;
	}

	.this-one {
		display: none;
		visibility: hidden;
		width:0px;
		height:0px;
/*		positon: absolute;
		bottom: 0px;
		right: 0px;*/
	}

/*SITE WIDE STYLING*/

	body {
			background: #d5dffd;
	}

	div, section {
		display: block;
	}

	.front-page-splash {
		background: #6d95fd;
	}

	footer{
		background: #35497a;
	}


/*	CONTENT STYLING*/

	.loud-voice {
		display:block;
		font-family: helvetica;
		font-weight: bold;
		font-size: 4em;
		letter-spacing: 1rem;
		line-height: 1em;
		color: white;
	}

	.attention-voice {
		display:block;
		font-family: helvetica;
		/*min. font size 36px, max 72px; start scaling @ 320px vw, stop at 960 vw, clamp(2.25rem,5.625vw + 1.125rem,4.5rem)*/
		font-size: clamp(1rem,4vw + 1rem,4rem);
		letter-spacing: .09rem;
		line-height: 1em;
	}
	nav a {
		font-family: helvetica;
		font-size: 20px;
		line-height: 1.5rem;
		letter-spacing: .07rem;

	}

	p, li, a {
		display: block;
		font-family: garamond;
		font-size: 20px;
		line-height: 1.5rem;
		letter-spacing: .02rem;

	}

	a {
		text-decoration: none;
	}

	img {
		width: 100%;
		height: 100%;
	}






/*SITE STRUCTURE*/
	.inner-column {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 2em;
		max-width: 90ch;
	}




/*initial set up delete by the end*/

/*main {
	border: solid 3px red;
}*/

	picture {
		height: 100px;
		width: 100px;
	}


	/*images*/
	.logo-maybe {
		height:100px;
		width:100px;
	}

/*NAVIGATION*/

	li {
		display: block;
		color: black;
		display: block;
		padding: 10px;
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	ul	 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;*/
	}

	li {
		padding: 30px;
		border-radius: 10px;
	}

	.logo-maybe {
		padding: 20px;
	}

	nav li:hover {
		background: #6d95fc;
	}

	.logo-maybe:hover {
		fill: #6d95fc;
	}



/*SPLASH*/



	header {
		padding: 50px;
	}

	header img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}


	.splash-image {
		width: 70vw;
		height: auto;
		position: sticky;
		top: 0;
	}

	.front-page-splash {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;
		align-items: center;
	}


/*articles*/


	.inner-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.inner-column a {
		width: min-content;
		border-bottom: 3px solid #ebebeb;
		padding-bottom: 5px;
		color: #35497a;
	}

/*footer*/


	footer {
		padding:20px;


	}
	footer {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}


	footer ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		padding: 10px;
		background: rgba(0,0,0,.3);
		border-radius: 10px;
	}

	footer li, footer a {
		font-size: 16px;
		font-family: helvetica;
		padding: 0;
		color: whitesmoke;
	} 

	body {
		position: relative;
	}




/*FIRST BREAK POINT*/

@media (min-width: 450px) {

	header {
		padding: 50px 5vw;
	}

	header .loud-voice {
		font-size: 9vw;
	}


	.front-page-splash {
		display: flex;
		flex-direction: row;
		gap: 2.5rem;
		justify-content: space-around;
		align-items: flex-end;
		padding-left: 80px;
	}

	.splash-image {
		min-width: 30vw;
		max-width: 30vw;
	}

/*FOOTER*/
	footer {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: flex-start;
		gap: 8px;
		padding: 5em;
		background: rgba(0,0,0,.3);
	}

	footer ul {
		min-width: 50%;
		background: none;
	}
/*SVG*/

	main {
		position: relative;
	}
	.tres {
		display: block;
		visibility: visible;
		width:60vw;
		height:auto;
		position: absolute;
		bottom: 0;
		right: 0px;
		z-index: 1;
		margin-bottom: 5px;
	}

	.umm {
		position:relative;
		z-index: 2;
	}

	.umm {
		background: rgba(213, 223, 253, .8);
		border-radius: 0 0 10px 0;
	}



	.inner-column a {		border-bottom: 3px solid #6d95fd;
		border-radius: 10px;
		padding: 10px;
	}

	.inner-column a:hover {		background: #D2136B;
		color: #EBEBEB;
	}

	

}

/*SECOND BREAK POINT*/

@media (min-width: 700px) {
	
	nav {
 		padding-left: 30px;
 	}

 	.logo-maybe {
		height:120px;
		width:120px;
 	}


	.inner-column a {		
		border: 3px solid #6d95fd;
		border-radius: 30px;
		background-color: #35497a;
		color:#EBEBEB;
		padding: 10px;
		transition: .2s;
	}

	.inner-column a:hover {		background: #D2136B;
		color: #EBEBEB;
		border: 3px solid #32B9FF;

	}

	.front-page-splash {
		position: relative;
	}

	.splash-image {
		position:relative;
		z-index: 2;
	}


	.uno {
		display: block;
		visibility: visible;
		width:300px;
		height:auto;
		position: absolute;
		bottom: -100px;
		left: 10%;
		z-index: 1;
		overflow:hidden;
		transform: scaleX(-1);
		transition: 3s;
	}
	.uno {
		animation-duration: 5s;
  		animation-name: slidein;
  		animation-iteration-count: 3;
  		animation-direction: alternate;
	}


	@keyframes slidein {
	  from {
	    margin-left: 100%;
	  }

	  to {
	    margin-left: 0%;
	  }
	}






