html {
	--margin-left: 30px;
	--pad: 20px;

	--cream:#ffecd2;
	--green: #6D7433;
	--purple: #DC79F9;
	--darkgreen: #2F3E13;
	--lightorange: #FFECD2;
	--flame: #D7542A;
	--maroon: #70283F;
	--limegreen: #AACE00;
}