/* 	RESETS	*/
* {  
box-sizing: border-box;
}
picture {
	display: block; 
}

a {
	display: block;
	list-style: none;
	color: inherit;
}
p a { 
	display: inline-block;
	list-style: underline;
	color: blue; 
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}


/* CAT */

main {
/*	max-width: 300px;*/
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	border:  1px solid black;
}
.body {
	fill: plum;
}

.lips {
	fill: transparent;
	stroke: #2A1631;
	stroke-width: 8px;
}

.tongue {
	fill: rebeccapurple;
}

.cat .left-eye, .cat .right-eye {
	fill: white;
}

.left-pupil, .right-pupil {
	fill: #2A1631;
}

.nose {
	fill: hotpink;
}

.cat .right-ear, .cat .left-ear {
	fill: #2A1631;
	stroke-width: 0;
}

picture {
	display:block;
	max-width:500px;
	margin-left: 100px;
}

/* .pinkcat {
 	transition: transform 10s ease-out;
} */

.body {
	transition: 2s;
}

.body:hover {
	fill: crimson;
	transition: 2s;
}

.pinkcat {
 	animation: play 1s infinite;
	
}

.pinkcat:hover {
    animation-play-state: paused;
}


picture:hover {
	animation: frustrated .7s infinite;
}

@keyframes frustrated {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes play { /* define animation */
	0% { transform: translate(150px) rotate(1deg); }
	50% { transform: translate(0px) rotate(-2deg); }
	100% { transform: translate(150px) rotate(0deg); }
}


/* MOUSE */

/* .whole-mouse */
	/* .mouse-torso */
	/* 	.left-whisker-low
		.left-whisker-high
		.right-whisker-low
		.right-whisker-high
		.nose
		.left-eye
		.right-eye
		.right-ear-pink
		.right-ear
		.head */
/* .tail
.hole */

.the-mouse {
	width: 20%;
}
rect {
	fill: transparent;
}
.whole-mouse, .mouse-torso {
	fill: transparent;
}
.hole, .right-eye, .left-eye {
	fill: black;
}

.left-whisker-low, .left-whisker-high, .right-whisker-low, .right-whisker-high {
	stroke: black;
	stroke-width: 3px;
	fill: transparent;
}

.head {
	fill: #987676;
}

.right-ear-pink {
	fill: #D19191;
	stroke: #987676;
	stroke-width: 10px;
}

.right-ear {
	fill: #A78686;
	stroke: #987676;
	stroke-width: 10px;
}

.nose {
	fill: hotpink;
}

.tail {
	fill: #D7BCBC;
	transform: translate(-100%, -100%);
}
/* TRANSFORMS */

/* transform="matrix(0.994442,0,0,0.713006,-233.695,247.018)" */