@import "resets.css";
@import "setup.css";
@import "settings.css";
@import "structure.css";
@import "typography.css";
@import "components.css";
@import "modules.css";




.diagonal {
background-color: #eff3fd;
opacity: 1;
background: repeating-linear-gradient( -45deg, var(--light), var(--light) 1px, var(--soft) 1px, var(--soft) 5vw );

}

.soft {
	background-color: var(--soft);
	padding: var(--medspace);
}

picture.placeholder {
	width: 100%;
	height: auto;
	background-color: var(--soft);

	display: flex;
	justify-content: center;
}

img.image-symbol {
	width: 15%;
	height: auto;
}