@import "resets.css";
@import "setup.css";
@import "settings.css";
@import "structure.css";
@import "typography.css";
@import "components.css";
@import "modules.css";





.diagonal {
background-color: #eff3fd;
opacity: 1;
background: repeating-linear-gradient( -45deg, var(--light), var(--light) 1px, var(--soft) 1px, var(--soft) 5vw );

}

.wavy {
	clip-path: polygon(100% 0%, 0% 0% , 0% 81.00%, 1% 81.00%, 2% 81.02%, 3% 81.04%, 4% 81.07%, 5% 81.11%, 6% 81.16%, 7% 81.22%, 8% 81.29%, 9% 81.36%, 10% 81.45%, 11% 81.54%, 12% 81.64%, 13% 81.74%, 14% 81.86%, 15% 81.98%, 16% 82.11%, 17% 82.24%, 18% 82.38%, 19% 82.53%, 20% 82.68%, 21% 82.84%, 22% 83.00%, 23% 83.17%, 24% 83.34%, 25% 83.52%, 26% 83.69%, 27% 83.88%, 28% 84.06%, 29% 84.25%, 30% 84.43%, 31% 84.62%, 32% 84.81%, 33% 85.00%, 34% 85.19%, 35% 85.38%, 36% 85.57%, 37% 85.76%, 38% 85.95%, 39% 86.13%, 40% 86.31%, 41% 86.49%, 42% 86.66%, 43% 86.84%, 44% 87.00%, 45% 87.17%, 46% 87.32%, 47% 87.48%, 48% 87.62%, 49% 87.76%, 50% 87.90%, 51% 88.03%, 52% 88.15%, 53% 88.26%, 54% 88.37%, 55% 88.47%, 56% 88.56%, 57% 88.64%, 58% 88.72%, 59% 88.78%, 60% 88.84%, 61% 88.89%, 62% 88.93%, 63% 88.96%, 64% 88.98%, 65% 89.00%, 66% 89.00%, 67% 89.00%, 68% 88.98%, 69% 88.96%, 70% 88.93%, 71% 88.89%, 72% 88.84%, 73% 88.78%, 74% 88.71%, 75% 88.64%, 76% 88.55%, 77% 88.46%, 78% 88.36%, 79% 88.25%, 80% 88.14%, 81% 88.02%, 82% 87.89%, 83% 87.76%, 84% 87.61%, 85% 87.47%, 86% 87.31%, 87% 87.16%, 88% 86.99%, 89% 86.83%, 90% 86.66%, 91% 86.48%, 92% 86.30%, 93% 86.12%, 94% 85.94%, 95% 85.75%, 96% 85.56%, 97% 85.37%, 98% 85.18%, 99% 84.99%, 100% 84.80%);*/
	
}

.soft {
	background-color: var(--soft);
	padding: var(--medspace);
}

picture.placeholder {
	width: 100%;
	height: auto;
	background-color: var(--soft);

	display: flex;
	justify-content: center;
}

img.image-symbol {
	width: 15%;
	height: auto;
}


.updates header, .updates header :is(a, li, p, svg, .logo, button) {
	--paper: var(--bright-blue);
	--fade: var(--white);
	--ink: var(--white);
	--highlight: var(--white);
}

.updates header .logo {
	fill: var(--ink);
}



.updates header {
	background-color: var(--paper);
}

.updates a.leading {
	width: fit-content;
	padding: var(--tinyspace);
} 

