@import "resets.css";

/*SITE WIDE STYLING*/

body {
		background: lightsteelblue;
	}
/*STRUCTURE*/

main {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

/*	CONTENT STYLING*/

	ol, ul {
		display: list-item;
		list-style: disc;
	}

	h1, header {
		display: block;
		font-family: helvetica;
		/*min. font size 36px, max 72px; start scaling @ 320px vw, stop at 960 vw, clamp(2.25rem,5.625vw + 1.125rem,4.5rem)*/
		font-size: clamp(2.25rem,5.625vw + 1.125rem,4.5rem);
		letter-spacing: .09rem;
		line-height: 5rem;
		color: navy;
		font-weight: bold;
		padding: 20px 0 30px 0;
	}

	p, li, a {
		margin-left: 15px;
		font-family: sans-serif;
		font-size: 16px;
		line-height: 1rem;
		letter-spacing: .01rem;
		color: white;
	}

	h2 {
		display: block;
		color: white;
		font-family: sans-serif;
		font-size: 20px;
		line-height: 1.5rem;
		background-color: rgba(0, 0, 128, .5);
		margin-bottom: 20px;
		padding: 10px;

	}

	span {
		display: inline-block;
		font-weight: bold;
		margin: 5px 0px;
		transition-duration: .5s;
		color: orange;
	}
	


	.header {
		font-size: 40rem;
	}

	.header, h1 {
		text-align: center;
	}

	.inner-column {
		max-width: 700px;
		margin-left: auto;
		margin-right:auto;
	}

	.first, .second, .third {
		padding: 50px;
	}

	.first, .second, .third {
	background-color: mediumblue;
	
	}


	.hamster-class {
		display: inline;
		transition-duration: .5s;
		padding: 0;
		margin: 0;
	}


	.second li:nth-of-type(6) span:nth-of-type(1) {
		display: inline-block;
		padding: 2px 5px;
	}


	.custom {
		padding: 20px;
	}

	span {
		color: orange;
	}


	@media (hover:hover) {

		span {
			color: navy;
			background-color: navy;
		}

   	span:hover, .hamster-class:hover {
		color: orange;
		transition-duration: .2s;
	}
   }
}

