call-to-/*SPECIFIC TO MODULE*/
module-two {
	background-color:#dd9dc8;
}
call-to-action {
	display: block;
	border: 3px solid black;
	padding: 60px var(--pad);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
call-to-action div {
	border: 3px solid black;
	padding: var(--pad);
}

@media (min-width: 600px) {
	call-to-action {
		padding: 100px;
	}
} 

@media (min-width: 900px) {
	.loud-voice {
		width: fit-content;
	}
	call-to-action {
		max-width: 900px;
		
	}
} action.css