module-one
{
	background:#acddec;
}

diptych {
	display: block;
	border: 3px solid black;
	padding: var(--pad);
}
diptych div {
	border: 3px solid black;
	padding: var(--pad);
}


@media (min-width: 600px) {
	diptych {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding: 40px var(--pad);
	}
	.supportive-text {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		padding: 20px var(--pad);
	}
		diptych > div {
		flex-basis: 50%;
	}
}