@import "resets.css";
@import "masthead.css";
@import "diptych.css";
@import "call-to-action.css";
@import "article-grid.css";

html {
	--pad:10px;
}






/* SET UP */
inner-column {
	display: block;
	font-family: helvetica, sans-serif;
	min-width: 200px;
	max-width: 900px;
	margin: 0 auto;
}

	
wrapper {
	display: block;
}

/* FONTS */

.loud-voice {
	font-size: 2rem;
	font-weight: 700;
}

.inside-voice {
	font-size: .9rem;
	line-height: 1.2rem;
}
.attention-voice {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3rem;
}

.loud-voice + .inside-voice, .attention-voice + .inside-voice {
	margin-top: 1rem;
}
.loud-voice + wrapper {
	margin-top: 2rem;
}


button {
	display: block;
/*	width: fit-content;*/
	background: black;
	border-width: 0;
   border-style: none;
   border-color: none;
   border-image: none;
	font-family: inherit;
	font-weight: 600;
	letter-spacing: .06rem;
	color: white;
	text-transform: uppercase;
	text-decoration: underline;
	padding: var(--pad);
	margin-top: 1rem;
	
}


a {
	color: #2641be;
	font: inherit;
}


module-one, module-two, module-three, module-four, module-five{
	display: block;
}


body module-two:last-of-type {
	background-color: #ff9297;
}