@import "resets.css";
@import "setup.css";
@import "settings.css";
@import "structure.css";
@import "typography.css";
@import "components.css";
@import "modules.css";


body {
	background-color: var(--paper);
	color: var(--ink);
}

inner-column {
	display: block;
	display: flex;
	flex-direction: column;
	width: 90vw;
	margin: 0 auto;
	border: solid 1px black;
	padding: var(--smspace);
}