@import "import-preset.css";
@import "settings.css";
@import "developer-styles.css";
@import "structure.css";
@import "typography.css";
@import "import-pages.css";
@import "import-modules.css";
@import "import-components.css";

	

body {
	background-color: #F7F7E9;
	display:flex;
	flex-direction:column;
	min-height:100vh;
}

main {
	flex-grow:1;

}
.inner-column {
	/*	not applied to index only	*/
	display: contents;
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
	padding-top: 2rem;
	padding:20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.bumper {
	height: 5rem;
}




generic-text {
	display: block;
}

home-page {
	display: block;
}



.home-color-blocks, .visuals  {
	display: contents;
}


.resume-card  {
			padding: 1rem;
			border:solid 1px blue;
			margin-top: 20px;
			padding-left: 10px;
		}
























