@import "import-preset.css";
@import "settings.css";
/*@import "developer-styles.css";*/
@import "structure.css";
@import "typography.css";
@import "import-pages.css";
@import "import-modules.css";
@import "import-components.css";
@import "animation.css";
	

body {
	background-color: var(--paper);
}

/*to be removed*/
.bumper {
	height: 5rem;
}

generic-text {
	display: block;
}

home-page {
	display: block;
}

.home-color-blocks, .visuals  {
	display: contents;
}
























