
body {
	display:flex;
	flex-direction:column;
	min-height:100vh;
	}

.inner-column {
	/*	not applied to index only	*/
	display: contents;
	margin-right: auto;
	margin-left: auto;
	max-width: var(--standard);
	padding-top: 2rem;
	padding:20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
main {
	flex-grow:1;

}