/*GRID*/

.home-grid {
	display: block;
	display: grid;
	grid-template-columns: 18px repeat(5, 1fr);
	grid-auto-rows: min(100px);
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
} 

/*ALINA MICHELLE HEADER - NAME AND BLUE SQUARE*/

.alina-svg {
	grid-column:1/span 5;
	grid-row:1; 
	z-index: 10;
	height: 200px;
	padding-left: 20px;
	transform: translate(0px, 0px);
	padding-bottom: 10px;
	max-width: 400px;
}

.title-blue-square {
	grid-area: 1/ 1/ 3/ 5;
	background-color: #CBDDEF;
	z-index: 1;
}


/*	CURRENT BREAK POINTS 350, 550, 700*/
@media (min-width:550px) {

	.alina-svg {
		grid-column:1/span 4;
		transform: translate(0px, 30px);
	}

	.title-blue-square {
		grid-area: 1/ 1 / 4/ 5;
		opacity: 1;
		background: linear-gradient(var(--invisible) 0%, var(--invisible) 20%, var(--yellow), var(--light-blue) 20%, var(--light-blue) 75%, var(--invisible) 75%, var(--invisible) 100%);
	}

}

/*DOG*/

.dog {
	display: contents;
}

.dog svg{
	grid-column: 3/span 4;
	grid-row: 3/span 4;
	min-width: 208px;
	z-index:3;
}

/*	CURRENT BREAK POINTS 350, 550, 700*/
@media (min-width:350px) {

	.dog svg {
		grid-column: 4/span 5;
		grid-row: 3/span 4;
	}

}


/*INDEX-SUB-HEADER*/

.introduction {
	grid-column: 2/span 3;
	grid-row: 3;
	color: var(--dark-blue-green);
	align-self: start;
	padding-left: 3px;
	align-self: end;
}


/*INDEX- COLOR BLOCKS WITHOUT TEXT*/

.yellow-1 {
	grid-row: 1;
	grid-column: 1;
	background: linear-gradient(var(--invisible) 0%, var(--invisible) 25%, var(--yellow) 25%, var(--yellow) 60%, var(--invisible) 60%, var(--invisible) 100%);
	position: relative;
	top: 36px;
	opacity: 1;
	z-index: 1;
}

.yellow-2 {
	grid-row: 3;
	grid-column: 1;
	background-color: var(--yellow);
	position: relative;
	right: 36px;
	opacity: 0;
}

.yellow-3 {
	grid-row: 6/ span 3;
	grid-column: 3;
	background: linear-gradient(var(--paper) 0%, var(--paper) 20%, var(--yellow) 20%, var(--yellow) 45%, var(--paper) 45%, var(--paper) 100%);
}

.red-1 {
	grid-column: 1;
	grid-row: 3;
	background: linear-gradient(var(--paper) 0%, var(--paper) 70%, var(--red) 70%, var(--red) 100%);
	}



.green {
	grid-column: 5 /span 2;
	grid-row: 11;
	background: linear-gradient(90deg, var(--dark-green) 0, var(--dark-green) 50%, var(--dark-blue) 50%, var(--dark-blue) 100%) ;
}


	/*third color: #C1E7E6 0%, #C1E7E6 100%)*/



/*INDEX- LINKS*/


.home-color-blocks a , .home-color-blocks p { 
	place-self: stretch;
	text-align: center;
	padding: 20px;
}

.home-color-blocks a:nth-of-type(1) {
	grid-column: 5;
	grid-row: 7;
	background: linear-gradient(90deg, var(--red-purple) 0, var(--red-purple) 50%, var(--red) 50%, var(--red) 100%);
	z-index:2;
}

.home-color-blocks a:nth-of-type(2) {
	grid-column: 1 /span 4;
	grid-row: 8;
	background: linear-gradient(90deg, var(--pink) 0, var(--pink) 50%, var(--purple) 50%, var(--purple) 100%);
	z-index: 5;
}


.home-color-blocks a:nth-of-type(3) {
	grid-column: 3 /span 4;
	grid-row: 9;
	background: linear-gradient(90deg, var(--periwinkle) 0, var(--periwinkle) 50%, var(--light-purple) 50%, var(--light-purple) 100%);
}

.home-color-blocks a:nth-of-type(4) {
	grid-column: 1 /span 5;
	grid-row: 10;
	align-items: center;
	background: linear-gradient(90deg, var(--blue) 0, var(--blue) 33%, var(--bright-blue) 33%, var(--bright-blue) 66%, var(--dark-blue-green) 0%, var(--dark-blue-green) 100%);

}

/*	COLOR BLOCK LINKS CURRENT BREAK POINTS 350, 550, 700*/
@media (min-width:500px) 
{
	.home-color-blocks a:nth-of-type(2) {

		grid-column: 3 /span 2;
	}

	.home-color-blocks a:nth-of-type(3) {
		grid-column: 5 /span 3;
	}

	.home-color-blocks a:nth-of-type(4) {
		grid-column: 1 /span 4;

	}
}

.home-color-blocks a, .home-color-blocks div:not(.yellow-2) {
	transition: 1.5s;
}

.home-color-blocks a:hover, .home-color-blocks div:hover {
	text-decoration: none;
	animation: jiggle .5s ease infinite alternate;
}

