nav {
	display: flex;
	flex-flow: column-reverse wrap;
	align-content:stretch;
	text-align: right;
	gap: .2rem; 
}

nav a {
	display: block;
	color: var(--ink);
	padding: .2rem;
	}

@media (min-width:350px) {

	nav {
	display: flex;
/*	flex-flow: row wrap;*/
	justify-content: flex-end;
	}

}

@media (min-width:700px) {
	nav {
		gap: 1rem;
	}
}


.nav-links:hover {
		text-decoration: none;
		animation: none;
		color: var(--paper);
		transition: .2s;
}
	nav div:hover:nth-of-type(1) {
		animation: colorchange1 20s ease 1 alternate;
}
	nav div:hover:nth-of-type(2), nav div:hover:nth-of-type(7) {
		animation: colorchange2 20s ease 1 alternate;
}
	nav div:hover:nth-of-type(3), nav div:hover:nth-of-type(8) {
		animation: colorchange3 20s ease 1 alternate;
}
	nav div:hover:nth-of-type(4), nav div:hover:nth-of-type(9) {
		animation: colorchange4 20s ease 1 alternate;
}
	nav div:hover:nth-of-type(5), nav div:hover:nth-of-type(10) {
		animation: colorchange5 20s ease 1 alternate;
}
	nav div:hover:nth-of-type(6), nav div:hover:nth-of-type(11) {
		animation: colorchange1 20s ease 1 alternate;
}
